@media (max-width: 767px) {
    
}
@media (min-width: 768px) {
    
}
@media (min-width: 768px) and (max-width: 1199px) {
    
}
@media (max-width: 1199px) {
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;
        width: max-content;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle svg {
        width: 2rem;
        height: 1.5rem;
        fill: #808;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle::before {
        content: 'MENU';
        position: relative;
        display: inline-block;
        margin: 0;
        font-size: 0.875rem;
        line-height: 0.875rem;
        color: #808;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle.is-active::before {
        content: 'CLOSE';
    }
    #masthead .eael-simple-menu {
        position: absolute;
        top: -22px;
        border-radius: 3px;
        right: -1rem;
        max-width: 380px;
        width: 100%;
        width: 320px;
        padding: 70px 0 1rem;
        background: #ddd;
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .elementor-widget-eael-simple-menu .eael-simple-menu > .menu-item:last-child > a {
        border-right: 0!important;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle-text {
        display: none;
    }
}
@media (min-width: 1600px) {

}
@media (min-width: 1900px) {

}