@media (max-width: 767px) {
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle::before {
        display: none!important;
    }
    .hajimi-search-form {
        display: none;
        position: absolute;
        top: 2.25rem;
        right: -4rem;
        width: calc( 100vw - 1.25rem );
        padding: 2rem;
        box-shadow: 0px 1px 3px 0px #333333;
        border-radius: 0.188rem;
        background-color: #f2f3f3;
    }
    .hajimi-searchbar > .btn.btn-search {
        border-color: transparent;
    }
    .hajimi-searchbar > .btn.btn-search i {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
    .hajimi-searchbar .hajimi-search-form > .btn.btn-search i {
        font-size: 1rem;
        line-height: 1rem;
    }
    .hajimi-search-form > input {
        width: 12.5rem;
    }
    #hajimi-search {
        width: 12.5rem;
    }
}
@media (min-width: 768px) {
    
}
@media (min-width: 768px) and (max-width: 1199px) {
    form#search #search-box {
        width: 12.5rem;
    }
}
@media (max-width: 1199px) {
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle {
        display: flex;
        align-items: center;
        position: relative;
        padding: 0;
        width: max-content;
        background: transparent;
        padding: 0.313rem 0;
        padding-left: 0.313rem;
        z-index: 9;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle svg {
        width: 2rem;
        height: 1.5rem;
        fill: #808;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle::before {
        content: 'MENU';
        position: relative;
        display: inline-block;
        margin: 0;
        font-size: 0.875rem;
        line-height: 0.875rem;
        margin-right: 0.313rem;
        color: #808;
    }
    #masthead .elementor-widget-eael-simple-menu .eael-simple-menu-toggle.is-active::before {
        content: 'CLOSE';
    }
    #masthead .eael-simple-menu {
        position: absolute;
        top: -22px;
        border-radius: 3px;
        right: -1rem;
        max-width: 380px;
        width: 100%;
        width: 320px;
        padding: 4.5rem 0 1.5rem;
        background: #f2f3f3;
        text-align: center;
        box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.5);
        border: 0.125rem solid #fff;
    }
    #masthead .eael-simple-menu .menu-item a {
        display: block;
        color: #808;
        text-transform: uppercase;
        padding: 0.625rem;
        font-size: 0.875rem;
        line-height: 0.875rem;
    }
    #masthead .eael-simple-menu .menu-item.current-menu-item a, #masthead .eael-simple-menu .menu-item a:hover, #masthead .eael-simple-menu .menu-item a:focus {
        background-color: #808;
        color: #fff;
    }
}
@media (min-width: 1200px) {
    .elementor-widget-eael-simple-menu .eael-simple-menu > .menu-item:last-child > a {
        border-right: 0!important;
    }
}
@media (min-width: 1600px) {

}
@media (min-width: 1900px) {

}